backup/
update_map.py
ku91.m3u
ku9.php
aptv.m3u
tv.m3u
tv2.m3u
ku9.m3u
t.xml
t.xml.gz

external_m3u_cache.m3u
*.log
*.bak
*.db
config/myconfig.json
desktop.ini
.SynologyWorkingDirectory/
cache.m3u
venv310/
__pycache__/
log/failed_channels.txt
iptv_checker_v3/log/failed_channels.txt
iptv_checker_v3/probe_cache.json
config/probe_cache.json